.primary_font{
    font-family: 'Lato', sans-serif;
    color: #272727;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
    height: 580px;
}
header .banner{
    display: flex;
    justify-content: space-between;
}
header .right img{
    height: 530px;
    width: 380px;
    flex-shrink: 0;
}

header .right{
    margin-top: 45px;
    margin-right: 100px;
    padding-left: 90px;
}
header .left{
    justify-content: center;
    margin-top: 40px;
    margin-left: 120px;
}
.banner h1{
    font-family: 'Lato';
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    flex-direction: column;
    flex-shrink: 0;
    padding: 20px 20px 0px 0px;

}
header > p{
    font-size: 11px;
    display: flex;
    font-weight: 400;
    line-height: 10px;
}
.btn{
    display: inline-flex;
    padding: 15px 33px;
    align-items: flex-start;
    gap: 10px;
    border: 1px grey solid;
    border-radius: 8px;
    background-color: #E55473;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    margin-bottom: 30px;
}
.second{
    background-color: white;
}
.second_one{
    margin-top: 50px;
    font-family: 'Lato';
    text-align: center;
    padding: 25px 400px 25px;
}
.second_one p{
    font-size: 14px;
    color: rgba(39, 39, 39, 0.60);
}
.second_two{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px 60px 150px;
}
.second_two p{
    padding-left: 75px;
    text-decoration: underline;
}
.s1{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    height: 320px;
    width: 270px;
}
.s1 img{
    height: 280px;
    width: 200px;
    padding: 40px 30px 0px;
}
.s2{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    height: 320px;
    width: 270px;
}
.s2 img{
    height: 280px;
    width: 200px;
    padding: 40px 30px 0px 50px;
}
.s3{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    height: 320px;
    width: 270px;
}
.s3 img{
    height: 280px;
    width: 200px;
    padding: 40px 30px 0px;
}
.second_three{
    margin: 30px 150px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 40px 50px;

}
.second_three .s4 img{
    padding-left: 70px;
}
.second_three .s5 img{
    padding-left: 40px;
}
.second_three .s6 img{
    padding-left: 15px;
}
.banner2{
    margin-top: 50px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}
.right2 img{
    height: 350px;
    width: 280px;
    flex-shrink: 0;
}

.right2{
    margin: 80px 120px 0px 60px;
}
.left2{
    margin: 100px 20px 100px 100px;
    text-align: center;
}
.banner2 h1{
    font-family: 'Lato';
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    flex-direction: column;
    flex-shrink: 0
}
.banner2 h1 > span{
    color: #E55473;
}
.banner2 > p{
    font-size: 10px;
    display: flex;
    font-weight: 400;
}
.btn2{
    display: inline-flex;
    padding: 15px 33px;
    align-items: flex-start;
    gap: 10px;
    border: 1px grey solid;
    border-radius: 8px;
    background-color: #E55473;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    margin-bottom: 30px;
    margin: 20px 120px 0px;
}
.third{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px 20px;

}
.third img{
    margin: 30px 0px 30px;
    width: 200px;
}
.l2{
    display: flex;
}
.last_one{
    margin-top: 50px;
    font-family: 'Lato';
    text-align: center;
    padding: 25px 250px 15px;
}
.email{
    margin-top: 20px;
    margin-left:220px;
    width: 400px;
    height: 50px;
    border: 1px grey;
    padding-left: 10px;
    text-align: justify;
    border-radius: 8px;
}
.btn3{
    align-items: center;
    padding: 15px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px grey;
    background-color: #E55473;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    margin: 20px 15px 50px;
    justify-content: space-between;
    }
footer{
    background-color: #111010;
    text-align: center;
    padding: 50px 400px 40px;
}
footer h1{
    color: #E55473;
    font-family: 'Lato';
}
footer h1 .shop{
    color:white ;
}
footer p{
    font-family: 'Lato';
    color: #fff;
}
footer .copy{
    font-family: 'Lato';
    color: rgba(255, 255, 255, 0.40);
}